.idea/
CASH old.csv
CASH_all_usa_dates.csv
Code_backup-05-10-22/
GTBP-USA.csv
__pycache__/
code_backup-07-11-22/
my_csv.csv
new_stocks_list.json
saved_lists/
stock_history_old.py
stock_list.json
stocks table backup/
stocks_price_history/